.image-to-show {
    width: 400px;
    height: 400px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .controls button {
    margin: 0 10px;
    padding: 10px;
    background-color:aquamarine;
    border-radius: 50%;
  }
  
  #timer {
    font-size: 24px;
  }